<!-- your_app_name/templates/home.html -->

{% extends "base.html" %}

{% block title %}
  Welcome to To-Do List App
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-8">
      <h2 class="my-3">ToDo List</h2>
    </div>
    <div class="col-md-4 text-right">
      <a href="{% url 'add_task' %}" class="btn btn-primary mt-3">Add New Task</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="list-group">
        {% for task in tasks %}
          <div class="list-group-item list-group-item-action {% if task.is_done %}list-group-item-success{% else %}list-group-item-danger{% endif %} mt-3">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ task.content }}</h5>
              {% if task.deadline_datetime %}
                <small>Deadline: {{ task.deadline_datetime }}</small>
              {% endif %}
            </div>
            <p class="mb-1">Created: {{ task.created_datetime }}</p>

            {% if task.tags.all %}
              <p>Tags: {% for tag in task.tags.all %}<span class="">#{{ tag.name }} </span>{% endfor %}</p>
            {% endif %}

            <div class="row">
              <div class="col-sm-10">
                <a href="{% url 'update_task' task.id %}" class="btn btn-sm btn-outline-secondary ml-2">Update</a>
                <a href="{% url 'delete_task' task.id %}" class="btn btn-sm btn-outline-danger ml-2">Delete</a>
              </div>
              <div class="col-sm-2 text-right">
                <a href="{% url 'toggle_task_status' task.id %}"
                   class="btn btn-sm {% if task.is_done %}btn-warning{% else %}btn-success{% endif %}">
                  {% if task.is_done %}
                    Undo
                  {% else %}
                    Complete
                  {% endif %}
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
