<!-- your_app_name/templates/tag_list.html -->

{% extends "base.html" %}

{% block title %}
  Tag List
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-8">
      <h2 class="my-3">Tag List</h2>
    </div>
    <div class="col-md-4 text-right">
      <a href="{% url 'add_tag' %}" class="btn btn-primary mt-3">Add New Tag</a>
    </div>
  </div>

  {% for tag in tags %}
    {% if forloop.counter0|divisibleby:3 %}
      <div class="row">
    {% endif %}

    <div class="col-md-3">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ tag.name }}</h5>
          <div class="d-flex justify-content-end">
            <a href="{% url 'update_tag' tag.pk %}" class="btn btn-sm btn-primary">Update</a>
            <a href="{% url 'delete_tag' tag.pk %}" class="btn btn-sm btn-danger ml-2">Delete</a>
          </div>
        </div>
      </div>
    </div>

    {% if forloop.counter|divisibleby:3 or forloop.last %}
      </div>
    {% endif %}
  {% endfor %}

{% endblock %}
